<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csehstunotebook">

    <application
        android:allowBackup="true"
        android:icon="@drawable/arb_notebook_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSEHSTUNotebook">
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".CuriculumActivity"
            android:exported="false" />
        <activity
            android:name=".Level4Sem2"
            android:exported="false" />
        <activity
            android:name=".Level4Sem1"
            android:exported="false" />
        <activity
            android:name=".Level3Sem2"
            android:exported="false" />
        <activity
            android:name=".Level3Sem1"
            android:exported="false" />
        <activity
            android:name=".Level2Sem2"
            android:exported="false" />
        <activity
            android:name=".Level2Sem1"
            android:exported="false" />
        <activity
            android:name=".Level1Sem2"
            android:exported="false" />
        <activity
            android:name=".VisitingSite"
            android:exported="false" />
        <activity
            android:name=".Level1Sem1"
            android:exported="false" />
        <activity
            android:name=".LevelCourses"
            android:exported="false" />
        <activity
            android:name=".ViewOne"
            android:exported="false" />
        <activity
            android:name=".ViewNote"
            android:exported="false" />
        <activity
            android:name=".AddNote"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>